html    
    head    
        title Home 

    body 
        h1 Olá, estou funcionando! 
        a(href ='/products') Listagem de Produtos 
        br
        a(href = '/fornecedor') Fornecedores
        br 
        a(href = '/market') Market 